<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>kk alias Krishnakumar Kunnath</h1></center>
    <h2>Krishnakumar Kunnath, popularly known as KK, was an Indian playback singer.
         He recorded songs primarily in Hindi, Tamil, Telugu and Kannada language.
          Noted for his versatility in a variety of music genres, KK is regarded among the greatest playback singers of India.</h2>
</body>
</html>